.home-main-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @include tablette-only {
        flex-wrap: wrap;
        flex-direction: row;
    }

    @include desktop-only {
        flex-direction: column;
    }
}

.menu-main-container {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 13rem;
    width: 100%;
    height: auto;
    padding-bottom: 11rem;
    margin-bottom: 3.75rem;
    background-color: $background-container;
    border-radius: 25px 25px 0 0;
    -webkit-border-radius: 25px 25px 0 0;
    -moz-border-radius: 25px 25px 0 0;
    -ms-border-radius: 25px 25px 0 0;
    -o-border-radius: 25px 25px 0 0;

    @include small-mobile-only {
        top: 12rem;
    }

    @include desktop-only {
        width: 95%;
        height: auto;
        align-items: center;
        margin: auto;
        top: 6rem;
        opacity:0.95
    }
}

footer{
    position:relative;
}