/*dimensions, couleur de fonds et position du logo*/
header {
    width: auto;
    height: auto;
    text-align: center;
    padding: 2rem 1rem 1rem 1rem;
    background-color: white;

    //décalage sur la gauche du logo pour version desktop
    @include tablette-only {
        text-align: start;
    }
}