footer {
    width: auto;
    height: auto;
    background-color: $colour-quartery;
    padding: 1rem 0 1rem 0;

    @include tablette-only {
        display: flex;
        justify-content: space-around;
    }
}

.nav {
    color: white;
    margin: $margin-elements;
    line-height: 2rem;

    &__container {

        @include tablette-only {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            align-items: center;
        }
    }

    &__logo {
        margin: 1rem 0 1rem 0;
        font-weight: 300;
        font-family: 'Shrikhand', 'Roboto', sans-serif;

        @include tablette-only {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    &__link-icon {
        display: inline-block;
        height: 1rem;
        position: relative;
        right: 0.5rem;
        line-height: 1rem;
        padding: 0 1rem 0 1rem;

    }

    &__link-icon .fa-utensils {
        position: relative;
        right: 0.5rem;
    }

    &__link-icon .fa-handshake-angle {
        position: relative;
        right: 0.5rem;
    }

    &__link--color {
        color: white;

        @include tablette-only {
            margin: $margin-elements;
        }
    }

    &__link--color:hover {
        color: $colour-secondary;
    }
}