footer {
    background-color: $colour-quartery;
    padding: 1rem 0 1rem 0;
}

.nav {
    color: white;
    margin: $margin-elements;
    line-height: 2rem;

    &__logo {
        margin: 1rem 0 1rem 0;
        font-weight: 300;
    }

    &__link-icon {
        display: inline-block;
        height: 1rem;
        position: relative;
        right: 0.5rem;
        line-height: 1rem;
        padding: 0 1rem 0 1rem;
    }

    &__link-icon .fa-utensils {
        position: relative;
        right: 0.5rem;
    }

    &__link-icon .fa-handshake-angle {
        position: relative;
        right: 0.5rem;
    }

    &__link--color {
        color: white;
    }

    &__link--color:hover {
        color: $colour-secondary;
    }
}