@charset "UTF-8";
/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
html, body, p, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset, legend, textarea, pre, iframe, hr, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button, input, select {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img, video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
}

body {
  font-family: "Roboto", sans-serif;
  line-height: 130%;
}

h1 {
  font-size: 1.5rem;
}

h2 {
  font-size: 1.5rem;
  font-weight: 700;
}

h3 {
  font-size: 1.1rem;
  font-weight: 700;
}
@media all and (max-width: 350px) {
  h3 {
    font-size: 0.8rem;
  }
}

@media all and (max-width: 350px) {
  p {
    font-size: 0.8rem;
  }
}

@media all and (max-width: 350px) {
  .menu__price {
    font-size: 0.8rem;
  }
}

.logo {
  font-family: "Shrikhand", "Robot", sans-serif;
  font-size: 2rem;
}
@media all and (max-width: 350px) {
  .logo {
    font-size: 1.3rem;
  }
}

.main-container__heading h1 {
  font-family: "Shrikhand", "Robot", sans-serif;
  font-size: 1.8rem;
}
@media all and (max-width: 350px) {
  .main-container__heading h1 {
    font-size: 1.3rem;
  }
}

.menu__heading {
  font-size: 1.2rem;
  font-weight: 300;
}

@media all and (max-width: 350px) {
  footer {
    font-size: 0.8rem;
  }
}

.button-action {
  display: inline-block;
  width: 60%;
  text-align: center;
  font-size: 1rem;
  color: white;
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
  margin: 1rem 0 4rem 0;
  cursor: pointer;
  height: 3.5rem;
  border-radius: 45px 45px;
  -webkit-border-radius: 45px 45px;
  -moz-border-radius: 45px 45px;
  -ms-border-radius: 45px 45px;
  -o-border-radius: 45px 45px;
  border: none;
  background: linear-gradient(to bottom, #FF79DA, #9356DC 95%);
  box-shadow: 0.5rem 0.2rem 1rem rgb(202, 198, 198);
  transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transition: all 300ms;
  transition: transform 300ms ease-in-out;
  -webkit-transition: transform 300ms ease-in-out;
  -moz-transition: transform 300ms ease-in-out;
  -ms-transition: transform 300ms ease-in-out;
  -o-transition: transform 300ms ease-in-out;
}
@media all and (min-width: 767px) {
  .button-action {
    width: 30%;
  }
}
.button-action:hover {
  transform: scale(1.2, 1.1);
  -webkit-transform: scale(1.2, 1.1);
  -moz-transform: scale(1.2, 1.1);
  -ms-transform: scale(1.2, 1.1);
  -o-transform: scale(1.2, 1.1);
  box-shadow: 1rem 1.2rem 2rem rgb(202, 198, 198);
  background: linear-gradient(to bottom right, #ffa2e5 1%, #a978e3);
}

.restaurant-like {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2rem;
  height: 2rem;
  font-size: 1.5rem;
  border: none;
  background-color: white;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  cursor: grab;
  /*carré milieu*/
}
.restaurant-like__after {
  border: none;
  width: 2rem;
  height: 2rem;
  transform: scale(0);
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transition: transform 400ms ease-in-out;
  -webkit-transition: transform 400ms ease-in-out;
  -moz-transition: transform 400ms ease-in-out;
  -ms-transition: transform 400ms ease-in-out;
  -o-transition: transform 400ms ease-in-out;
}
.restaurant-like__after-part-right {
  width: 2rem;
  height: 2rem;
  position: absolute;
  right: 1rem;
  bottom: 1rem;
  z-index: 3;
  border-radius: 50% 0 0 50%;
  rotate: 45deg;
  background: linear-gradient(to right bottom, rgb(147, 86, 220), 70%, #FF79DA);
  -webkit-border-radius: 50% 0 0 50%;
  -moz-border-radius: 50% 0 0 50%;
  -ms-border-radius: 50% 0 0 50%;
  -o-border-radius: 50% 0 0 50%;
}
.restaurant-like__after-part-middle {
  width: 2rem;
  height: 2rem;
  position: absolute;
  z-index: 3;
  rotate: 45deg;
  background: linear-gradient(to right bottom, rgb(147, 86, 220), 40%, #FF79DA);
}
.restaurant-like__after-part-left {
  width: 2rem;
  height: 2rem;
  position: absolute;
  left: 1rem;
  bottom: 1rem;
  z-index: 2;
  border-radius: 50% 50% 0 0;
  rotate: 45deg;
  background: linear-gradient(to right bottom, rgb(147, 86, 220), 70%, #FF79DA);
}
.restaurant-like:active + .restaurant-like__after {
  transform: scale(0.5);
  -webkit-transform: scale(0.5);
  -moz-transform: scale(0.5);
  -ms-transform: scale(0.5);
  -o-transform: scale(0.5);
}

.btn {
  position: absolute;
  top: 0.5rem;
  right: 1rem;
}
.btn__new {
  color: #278870;
  width: 80%;
  height: auto;
  margin: 1rem 1rem 1rem 1rem;
  font-size: 1rem;
  background: #99E2D0;
  cursor: pointer;
  height: 2rem;
  border-radius: 0.188rem 0.188rem 0.188rem 0.188rem;
  border: none;
}

.loader {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  background-color: #99E2D0;
  animation: opacity 3000ms 3000ms both;
  -webkit-animation: opacity 3000ms 3000ms both;
}
.loader__heading {
  font-family: "Shrikhand", sans-serif;
  font-size: 4rem;
  font-weight: 900;
  margin: 1rem;
  color: #9356DC;
  animation: loader 2000ms 1000ms cubic-bezier(0.2, 0.4, 0.2, 5) infinite;
  -webkit-animation: loader 2000ms 1000ms cubic-bezier(0.2, 0.4, 0.2, 5) infinite;
}

@keyframes loader {
  0% {
    transform: scaleY(0.1);
    -webkit-transform: scaleY(0.1);
    -moz-transform: scaleY(0.1);
    -ms-transform: scaleY(0.1);
    -o-transform: scaleY(0.1);
  }
  10% {
    transform: scaleY(0.2);
    -webkit-transform: scaleY(0.2);
    -moz-transform: scaleY(0.2);
    -ms-transform: scaleY(0.2);
    -o-transform: scaleY(0.2);
  }
  35% {
    transform: scaleY(0.7);
    -webkit-transform: scaleY(0.7);
    -moz-transform: scaleY(0.7);
    -ms-transform: scaleY(0.7);
    -o-transform: scaleY(0.7);
  }
  100% {
    transform: scaleY(1);
    -webkit-transform: scaleY(1);
    -moz-transform: scaleY(1);
    -ms-transform: scaleY(1);
    -o-transform: scaleY(1);
  }
}
@keyframes opacity {
  0% {
    opacity: 1;
    z-index: 4;
  }
  100% {
    opacity: 0;
    z-index: -1;
  }
}
header {
  text-align: center;
  margin: 1rem 1rem 1rem 1rem;
  padding: 1rem;
}
@media all and (min-width: 767px) {
  header {
    text-align: start;
  }
}

footer {
  width: auto;
  height: auto;
  background-color: rgba(65, 60, 60, 0.863);
  padding: 1rem 0 1rem 0;
}
@media all and (min-width: 767px) {
  footer {
    display: flex;
    justify-content: space-around;
    height: auto;
  }
}

.nav {
  color: white;
  margin: 1rem 1rem 1rem 1rem;
  line-height: 2rem;
}
@media all and (min-width: 767px) {
  .nav__container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
  }
}
.nav__logo {
  margin: 1rem 0 1rem 0;
  font-weight: 300;
  font-family: "Shrikhand", "Roboto", sans-serif;
}
@media all and (min-width: 767px) {
  .nav__logo {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.nav__link-icon {
  display: inline-block;
  height: 1rem;
  position: relative;
  right: 0.5rem;
  line-height: 1rem;
  padding: 0 1rem 0 1rem;
}
.nav__link-icon .fa-utensils {
  position: relative;
  right: 0.5rem;
}
.nav__link-icon .fa-handshake-angle {
  position: relative;
  right: 0.5rem;
}
.nav__link--color {
  color: white;
}
@media all and (min-width: 767px) {
  .nav__link--color {
    margin: 1rem 1rem 1rem 1rem;
  }
}
.nav__link--color:hover {
  color: #FF79DA;
}

.home-main-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media all and (min-width: 767px) {
  .home-main-container {
    flex-wrap: wrap;
    flex-direction: row;
  }
}
@media all and (min-width: 992px) {
  .home-main-container {
    flex-direction: column;
  }
}

.presentation {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  text-align: center;
  align-items: center;
  margin-bottom: 5rem;
  background-color: #f2f2f2;
}
@media all and (min-width: 767px) {
  .presentation {
    margin-bottom: 1rem;
  }
}
.presentation__location {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin: 0 0 1rem 0;
  padding: 1rem;
  font-weight: 700;
  box-shadow: inset 0 0.2rem 0.2rem rgba(7, 15, 56, 0.07);
  background-color: #ededed;
}
.presentation__heading {
  font-weight: 900;
  margin: 1rem 2.5rem 0.5rem 2.5rem;
}
.presentation__discover {
  margin: 0.5rem 1.5rem 1rem 1.5rem;
  font-size: 1.2em;
  font-weight: 300;
}

.functioning {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  margin: 0 1rem 5rem 1rem;
}
@media all and (min-width: 767px) {
  .functioning {
    width: 35%;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 0;
    padding: 1rem 1rem 5rem 1rem;
    background-color: #FF79DA;
  }
}
@media all and (min-width: 992px) {
  .functioning {
    width: 100%;
    flex-direction: row;
    align-items: center;
  }
}
.functioning__heading {
  padding: 0 1rem 0 1rem;
}
@media all and (min-width: 767px) {
  .functioning__heading {
    width: 100%;
    margin: 2rem;
    padding: 0;
  }
}
.functioning__container {
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem 0 1rem 1rem;
}
@media all and (min-width: 767px) {
  .functioning__container {
    width: 100%;
    gap: 5rem;
  }
}
@media all and (min-width: 992px) {
  .functioning__container {
    flex-direction: row;
    align-items: center;
  }
}
.functioning__explain {
  width: 100%;
  height: 4rem;
  border-radius: 0.938rem 0.938rem 0.938rem 0.938rem;
  position: relative;
  display: flex;
  align-items: center;
  gap: 1rem;
  margin: 1rem 0 1rem 0;
  padding: 1rem;
  box-shadow: 0.5rem 0.2rem 1rem rgb(202, 198, 198);
  font-weight: 700;
  cursor: pointer;
}
@media all and (min-width: 767px) {
  .functioning__explain {
    background-color: azure;
  }
}
.functioning__explain:hover {
  background-color: hsl(267deg, 66%, 94%);
}
.functioning__number {
  display: inline-block;
  position: relative;
  right: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.5rem;
  height: 1.5rem;
  padding: 1rem;
  background-color: #9356DC;
  border-radius: 50%;
  text-align: center;
  font-weight: 700;
  color: white;
}
@media all and (min-width: 767px) {
  .functioning__number {
    width: 1rem;
    height: 1rem;
  }
}
.functioning__explain .fa-solid {
  position: relative;
  right: 1.5rem;
  opacity: 0.5;
}
.functioning__explain:hover .fa-solid {
  color: #9356DC;
  opacity: 1;
}

.container-restaurant {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: auto;
  height: auto;
  gap: 1rem;
  background-color: #f2f2f2;
  padding-bottom: 4rem;
}
@media all and (min-width: 767px) {
  .container-restaurant {
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    width: 65%;
  }
}
@media all and (min-width: 992px) {
  .container-restaurant {
    width: 100%;
    flex-direction: row;
  }
}
.container-restaurant__cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: auto;
  height: auto;
}
@media all and (min-width: 767px) {
  .container-restaurant__cards {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    padding: 3.875rem 0 3.875rem 0;
  }
}
.container-restaurant__heading {
  width: auto;
  height: auto;
  padding: 3rem 1rem 0 1rem;
  margin: 1rem 1rem 1rem 1rem;
}
@media all and (min-width: 767px) {
  .container-restaurant__heading {
    margin: 0;
  }
}
@media all and (min-width: 992px) {
  .container-restaurant__heading {
    padding: 3rem 1rem 3rem 1rem;
    margin-left: 2rem;
  }
}

.restaurant {
  position: relative;
  width: auto;
  height: 250px;
  border-radius: 1.25rem 1.25rem 1.25rem 1.25rem;
  margin: 0 1rem 1rem 1rem;
  transform: scale(1);
  transition: all 300ms;
  transition: transform 100ms ease-in-out;
  -webkit-transition: transform 100ms ease-in-out;
  -moz-transition: transform 100ms ease-in-out;
  -ms-transition: transform 100ms ease-in-out;
  -o-transition: transform 100ms ease-in-out;
  background-color: white;
}
@media all and (min-width: 767px) {
  .restaurant {
    align-items: flex-end;
    width: 45%;
    margin: 0.2rem;
  }
}
@media all and (min-width: 992px) {
  .restaurant {
    width: 40%;
    height: 350px;
    margin: 1rem;
  }
}
.restaurant:hover {
  transform: scale(1.02);
  -webkit-transform: scale(1.02);
  -moz-transform: scale(1.02);
  -ms-transform: scale(1.02);
  -o-transform: scale(1.02);
  box-shadow: 0.5rem 0.2rem 1rem rgb(202, 198, 198);
}
.restaurant__link {
  display: inline-block;
  width: 100%;
  height: 250px;
  border-radius: 1.25rem 1.25rem 1.25rem 1.25rem;
}
.restaurant__card {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  box-shadow: 0.5rem 0.2rem 1rem rgb(202, 198, 198);
  border-radius: 1.25rem 1.25rem 1.25rem 1.25rem;
  -webkit-border-radius: 1.25rem 1.25rem 1.25rem 1.25rem;
  -moz-border-radius: 1.25rem 1.25rem 1.25rem 1.25rem;
  -ms-border-radius: 1.25rem 1.25rem 1.25rem 1.25rem;
  -o-border-radius: 1.25rem 1.25rem 1.25rem 1.25rem;
}
@media all and (min-width: 992px) {
  .restaurant__card {
    width: auto;
    height: 350px;
    margin: 0;
  }
}
.restaurant__container-img {
  width: 100%;
  height: 200px;
  overflow: hidden;
  border-radius: 20px 20px 0 0;
  -webkit-border-radius: 20px 20px 0 0;
  -moz-border-radius: 20px 20px 0 0;
  -ms-border-radius: 20px 20px 0 0;
  -o-border-radius: 20px 20px 0 0;
}
@media all and (min-width: 992px) {
  .restaurant__container-img {
    height: 300px;
  }
}
.restaurant__img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 20px 20px 0 0;
  -webkit-border-radius: 20px 20px 0 0;
  -moz-border-radius: 20px 20px 0 0;
  -ms-border-radius: 20px 20px 0 0;
  -o-border-radius: 20px 20px 0 0;
}
.restaurant__footer {
  width: auto;
  height: auto;
  padding: 0.5rem;
  border-radius: 0 0 20px 20px;
  -webkit-border-radius: 0 0 20px 20px;
  -moz-border-radius: 0 0 20px 20px;
  -ms-border-radius: 0 0 20px 20px;
  -o-border-radius: 0 0 20px 20px;
}

.restaurant-like {
  position: absolute;
  right: 2rem;
  bottom: 1.1rem;
}
.restaurant-like__after {
  position: fixed;
  right: 2rem;
  bottom: 1rem;
}

.header-menu {
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-menu__return {
  width: auto;
  position: absolute;
  left: 0rem;
  margin: 2rem;
  font-size: 1.5rem;
}
.header-menu__return.logo {
  position: relative;
  width: auto;
}

.main-container {
  display: flex;
  flex-direction: column;
  position: relative;
  top: 14rem;
  width: 100%;
  height: auto;
  padding-bottom: 13rem;
  margin-bottom: 3.75rem;
  background-color: rgb(252, 246, 246);
  border-radius: 25px 25px 0 0;
  -webkit-border-radius: 25px 25px 0 0;
  -moz-border-radius: 25px 25px 0 0;
  -ms-border-radius: 25px 25px 0 0;
  -o-border-radius: 25px 25px 0 0;
}
@media all and (max-width: 350px) {
  .main-container {
    top: 12rem;
  }
}
.main-container__img {
  width: 100%;
  height: auto;
  object-fit: fill;
  min-height: 15rem;
  position: absolute;
}
.main-container__heading {
  line-height: 3rem;
  width: auto;
  height: auto;
  position: relative;
  margin: 1rem 1rem 1rem 1rem;
  padding-right: 3rem;
}
.main-container__heading .restaurant-like {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  background-color: rgb(252, 246, 246);
}
.main-container__heading .restaurant-like__after {
  position: absolute;
  top: 0.65rem;
  right: 0.5rem;
  background-color: rgb(252, 246, 246);
}

.menu {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  margin: 1rem 1rem 1rem 1rem;
}
.menu__title-container {
  margin: 1rem 0rem 1rem 0rem;
}
.menu__heading {
  padding-bottom: 0.5rem;
}
.menu__underline {
  width: 3rem;
  border-bottom: solid 0.3rem #99E2D0;
}
.menu__selection {
  display: flex;
  flex-direction: row;
  width: auto;
  height: 5rem;
  padding: 0;
  margin-bottom: 1rem;
  box-shadow: 0.5rem 0.2rem 1rem rgb(202, 198, 198);
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  background-color: white;
  cursor: pointer;
  overflow: hidden;
}
.menu__selection--first-apparition {
  animation: first-apparition 1000ms 2900ms ease-in;
  -webkit-animation: first-apparition 1000ms 2900ms ease-in;
}
@keyframes first-apparition {
  0% {
    opacity: 0;
    transform: translate(0, 25px);
    -webkit-transform: translate(0, 25px);
    -moz-transform: translate(0, 25px);
    -ms-transform: translate(0, 25px);
    -o-transform: translate(0, 25px);
  }
  95% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
  }
}
.menu__selection--second-apparition {
  transform-origin: bottom;
  animation: second-apparition 1200ms 2950ms ease-in;
  -webkit-animation: second-apparition 1200ms 2950ms ease-in;
}
@keyframes second-apparition {
  0% {
    opacity: 0;
    transform: translate(0, 25px);
    -webkit-transform: translate(0, 25px);
    -moz-transform: translate(0, 25px);
    -ms-transform: translate(0, 25px);
    -o-transform: translate(0, 25px);
  }
  95% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
  }
}
.menu__selection--third-apparition {
  transform-origin: bottom;
  animation: third-apparition 1400ms 3000ms ease-in;
  -webkit-animation: third-apparition 1400ms 3000ms ease-in;
}
@keyframes third-apparition {
  0% {
    opacity: 0;
    transform: translate(0, 25px);
    -webkit-transform: translate(0, 25px);
    -moz-transform: translate(0, 25px);
    -ms-transform: translate(0, 25px);
    -o-transform: translate(0, 25px);
  }
  95% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
  }
}
.menu__selection--fourth-apparition {
  transform-origin: bottom;
  animation: fourth-apparition 1600ms 3010ms ease-in;
  -webkit-animation: fourth-apparition 1600ms 3010ms ease-in;
}
@keyframes fourth-apparition {
  0% {
    opacity: 0;
    transform: translate(0, 25px);
    -webkit-transform: translate(0, 25px);
    -moz-transform: translate(0, 25px);
    -ms-transform: translate(0, 25px);
    -o-transform: translate(0, 25px);
  }
  95% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
  }
}
.menu__selection:active .menu__price {
  transform: translate(-5rem);
  -webkit-transform: translate(-5rem);
  -moz-transform: translate(-5rem);
  -ms-transform: translate(-5rem);
  -o-transform: translate(-5rem);
}
.menu__selection:active .menu__container-selection {
  padding-right: 8rem;
}
.menu__selection:active .menu__check {
  transform: scaleX(1);
  -webkit-transform: scaleX(1);
  -moz-transform: scaleX(1);
  -ms-transform: scaleX(1);
  -o-transform: scaleX(1);
}
.menu__container-selection {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  position: relative;
  width: 100%;
  height: 100%;
  padding-right: 0rem;
  border-radius: 0 10px 10px 0;
  -webkit-border-radius: 0 10px 10px 0;
  -moz-border-radius: 0 10px 10px 0;
  -ms-border-radius: 0 10px 10px 0;
  -o-border-radius: 0 10px 10px 0;
  transition: padding-right 400ms;
  -webkit-transition: padding-right 400ms;
  -moz-transition: padding-right 400ms;
  -ms-transition: padding-right 400ms;
  -o-transition: padding-right 400ms;
}
.menu__name {
  width: 100%;
  height: auto;
  padding-left: 1rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu__details {
  width: 100%;
  height: auto;
  padding-left: 1rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu__price {
  display: inline-block;
  position: absolute;
  right: 2rem;
  bottom: 1rem;
  width: 1rem;
  height: 1rem;
  transition: transform 500ms ease-in-out;
  -webkit-transition: transform 500ms ease-in-out;
  -moz-transition: transform 500ms ease-in-out;
  -ms-transition: transform 500ms ease-in-out;
  -o-transition: transform 500ms ease-in-out;
}
@media all and (max-width: 350px) {
  .menu__price {
    right: 1rem;
  }
}
.menu__check {
  width: 5rem;
  height: 100%;
  position: absolute;
  right: -0.1rem;
  background-color: #99E2D0;
  border: none;
  transform-origin: right;
  transform: scaleX(0);
  -webkit-transform: scaleX(0);
  -moz-transform: scaleX(0);
  -ms-transform: scaleX(0);
  -o-transform: scaleX(0);
  transition: transform 500ms ease-in-out;
  -webkit-transition: transform 500ms ease-in-out;
  -moz-transition: transform 500ms ease-in-out;
  -ms-transition: transform 500ms ease-in-out;
  -o-transition: transform 500ms ease-in-out;
}

.fa-circle-check {
  display: inline-block;
  display: flex;
  align-items: center;
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  font-size: 2rem;
  transform: rotate 0;
  -webkit-transform: rotate 0;
  -moz-transform: rotate 0;
  -ms-transform: rotate 0;
  -o-transform: rotate 0;
  transition: transform 500ms ease-in-out;
  -webkit-transition: transform 500ms ease-in-out;
  -moz-transition: transform 500ms ease-in-out;
  -ms-transition: transform 500ms ease-in-out;
  -o-transition: transform 500ms ease-in-out;
  color: white;
}

.menu__selection:active .fa-circle-check {
  transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -o-transform: rotate(360deg);
}

.button-container {
  display: flex;
  justify-content: center;
}

footer {
  position: relative;
}

/*# sourceMappingURL=main.css.map */
