/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
html, body, p, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset, legend, textarea, pre, iframe, hr, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button, input, select {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img, video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
}

h2 {
  font-weight: 700;
  font-size: 1.2rem;
}

body {
  font-family: "Roboto", sans-serif;
}

.nav__logo {
  font-family: "Shrikhand", "Roboto", sans-serif;
}

.button {
  display: inline-block;
  width: auto;
  margin: 1rem 1rem 1rem 1rem;
}
.button__style {
  font-size: 1rem;
  color: white;
  padding: 1rem 1rem 1rem 1rem;
  background: linear-gradient(to top, #9356DC, #FF79DA);
  cursor: pointer;
}
.button__style--size {
  height: 3rem;
}
.button__style--border {
  border-radius: 45px 45px;
  border: none;
  box-shadow: 0.125rem 0.125rem 0.5rem #c7c3c3;
}

.btn {
  position: absolute;
  bottom: 10rem;
  left: 5rem;
}
.btn__new {
  width: auto;
  height: auto;
  margin: 1rem 1rem 1rem 1rem;
  font-size: 1rem;
  padding: 1rem 1rem 1rem 1rem;
  background: #99E2D0;
  cursor: pointer;
  height: 2rem;
  border-radius: 5px 5px 5px 5px;
  border: none;
}

.logo {
  font-size: 2rem;
  text-align: center;
  font-family: "Shrikhand", "Robot", sans-serif;
  margin: 1rem 1rem 1rem 1rem;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.presentation {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  text-align: center;
  margin-bottom: 5rem;
}
.presentation__location {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin: 0 0 1rem 0;
  padding: 1rem;
  font-weight: 700;
  background-color: rgb(252, 246, 246);
  border-top: solid 2px rgba(160, 157, 157, 0.849);
  box-shadow: 0 1rem 2rem rgb(187, 183, 183) inset, 0 5px 5px rgb(187, 183, 183) inset;
}
.presentation__heading {
  font-weight: 900;
  font-size: 1.6rem;
}
.presentation__discover {
  margin: 1rem 1rem 1rem 1rem;
  font-size: 1.2em;
  font-weight: 300;
}

.functioning {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  margin: 1rem 1rem 5rem 1rem;
}
.functioning__container {
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem 0 1rem 1rem;
}
.functioning__explain {
  width: 100%;
  height: 4rem;
  border-radius: 15px 15px 15px 15px;
  position: relative;
  display: flex;
  align-items: center;
  gap: 1rem;
  margin: 1rem 0 1rem 0;
  box-shadow: 0.125rem 0.125rem 0.5rem #c7c3c3;
  font-weight: 700;
}
.functioning__explain .number {
  display: inline-block;
  position: relative;
  right: 0.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.5rem;
  height: 1.5rem;
  background-color: #9356DC;
  border-radius: 50%;
  text-align: center;
  font-weight: 700;
}
.functioning__explain .fa-solid {
  position: relative;
  right: 0.5rem;
  opacity: 0.5;
}

.container-restaurant {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: auto;
  height: auto;
  margin: 1rem 1rem 4rem 1rem;
  gap: 2rem;
}
.container-restaurant__heading {
  width: 100%;
  height: auto;
}

.restaurant-link {
  display: inline-block;
  position: relative;
  width: 100%;
  height: 300px;
  border-radius: 20px 20px 20px 20px;
}
.restaurant-link__card {
  position: relative;
  display: flex;
  flex-direction: column;
  width: auto;
  height: 300px;
  border-radius: 20px 20px 20px 20px;
  margin-bottom: 1rem;
  box-shadow: 0.125rem 0.125rem 0.5rem #c7c3c3;
}
.restaurant-link__container-img {
  position: relative;
  border-radius: 20px 20px 0 0;
  width: 100%;
  height: 250px;
  overflow: hidden;
}
.restaurant-link__img {
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 20px 20px 0 0;
}
.restaurant-link__body {
  width: 100%;
  height: 50px;
  border-radius: 0 0 20px 20px;
}
.restaurant-link__icon--before {
  position: absolute;
  bottom: 5rem;
}

footer {
  background-color: rgba(24, 23, 23, 0.863);
  padding: 1rem 0 1rem 0;
}

.nav {
  color: white;
  margin: 1rem 1rem 1rem 1rem;
  line-height: 2rem;
}
.nav__logo {
  margin: 1rem 0 1rem 0;
  font-weight: 300;
}
.nav__link-icon {
  display: inline-block;
  position: relative;
  top: 0.5rem;
  left: 1rem;
  height: 1rem;
}
.nav__link-icon .fa-utensils {
  position: absolute;
  left: -1rem;
  width: 1rem;
  height: 1rem;
}
.nav__link-icon .fa-handshake-angle {
  position: absolute;
  top: 0.5rem;
  left: -1rem;
  width: 1rem;
  height: 1rem;
}
.nav__link--color {
  color: white;
}

/*# sourceMappingURL=main.css.map */
