/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
html, body, p, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset, legend, textarea, pre, iframe, hr, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button, input, select {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img, video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
}

h2 {
  font-weight: 700;
  font-size: 1.2rem;
}

body {
  font-family: "Roboto", sans-serif;
}

.nav__logo {
  font-family: "Shrikhand", "Roboto", sans-serif;
}

.button {
  display: inline-block;
  width: auto;
  margin: 1rem 1rem 1rem 1rem;
}
.button__style {
  font-size: 1rem;
  color: white;
  padding: 1rem 1rem 1rem 1rem;
  background: linear-gradient(to bottom, #9356DC, #FF79DA);
  cursor: pointer;
  height: 3rem;
  border-radius: 45px 45px;
  border: none;
  box-shadow: 0.125rem 0.125rem 0.5rem #c7c3c3;
  transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transition: all 300ms;
  transition: transform 300ms ease-in-out;
  -webkit-transition: transform 300ms ease-in-out;
  -moz-transition: transform 300ms ease-in-out;
  -ms-transition: transform 300ms ease-in-out;
  -o-transition: transform 300ms ease-in-out;
}
.button:hover {
  transform: scale(1.2, 1.1);
  opacity: 0.9;
  background: linear-gradient(to top, #9356DC, #FF79DA);
  box-shadow: 0.2rem 0.5rem #c7c3c3;
}

.btn {
  position: absolute;
  top: 0.5rem;
  right: 1rem;
}
.btn__new {
  color: #278870;
  width: 90%;
  height: auto;
  margin: 1rem 1rem 1rem 1rem;
  font-size: 1rem;
  background: #99E2D0;
  cursor: pointer;
  height: 2rem;
  border-radius: 0.188rem 0.188rem 0.188rem 0.188rem;
  border: none;
}

.loader {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  background-color: #99E2D0;
  animation: opacity 3000ms 3000ms both;
  -webkit-animation: opacity 3000ms 3000ms both;
}
.loader__heading {
  font-family: "Shrikhand", sans-serif;
  font-size: 3rem;
  font-weight: 900;
  color: #9356DC;
  animation: loader 2000ms 1000ms cubic-bezier(0.2, 0.4, 0.2, 5) infinite;
  -webkit-animation: loader 2000ms 1000ms cubic-bezier(0.2, 0.4, 0.2, 5) infinite;
}

@keyframes loader {
  0% {
    transform: scaleY(0.1);
    -webkit-transform: scaleY(0.1);
    -moz-transform: scaleY(0.1);
    -ms-transform: scaleY(0.1);
    -o-transform: scaleY(0.1);
  }
  10% {
    transform: scaleY(0.2);
    -webkit-transform: scaleY(0.2);
    -moz-transform: scaleY(0.2);
    -ms-transform: scaleY(0.2);
    -o-transform: scaleY(0.2);
  }
  35% {
    transform: scaleY(0.7);
    -webkit-transform: scaleY(0.7);
    -moz-transform: scaleY(0.7);
    -ms-transform: scaleY(0.7);
    -o-transform: scaleY(0.7);
  }
  100% {
    transform: scaleY(1);
    -webkit-transform: scaleY(1);
    -moz-transform: scaleY(1);
    -ms-transform: scaleY(1);
    -o-transform: scaleY(1);
  }
}
@keyframes opacity {
  0% {
    opacity: 1;
    z-index: 2;
  }
  100% {
    opacity: 0;
    z-index: -1;
  }
}
.logo {
  font-size: 2rem;
  text-align: center;
  font-family: "Shrikhand", "Robot", sans-serif;
  margin: 1rem 1rem 1rem 1rem;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.presentation {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  text-align: center;
  margin-bottom: 5rem;
}
.presentation__location {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin: 0 0 1rem 0;
  padding: 1rem;
  font-weight: 700;
  background-color: rgb(252, 246, 246);
  border-top: solid 2px rgba(160, 157, 157, 0.849);
  box-shadow: 0 1rem 2rem rgb(187, 183, 183) inset, 0 5px 5px rgb(187, 183, 183) inset;
}
.presentation__heading {
  font-weight: 900;
  font-size: 1.6rem;
}
.presentation__discover {
  margin: 1rem 1rem 1rem 1rem;
  font-size: 1.2em;
  font-weight: 300;
}

.functioning {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  margin: 1rem 1rem 5rem 1rem;
}
.functioning__container {
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem 0 1rem 1rem;
}
.functioning__explain {
  width: 100%;
  height: 4rem;
  border-radius: 0.938rem 0.938rem 0.938rem 0.938rem;
  position: relative;
  display: flex;
  align-items: center;
  gap: 1rem;
  margin: 1rem 0 1rem 0;
  box-shadow: 0.125rem 0.125rem 0.5rem #c7c3c3;
  font-weight: 700;
  cursor: pointer;
}
.functioning__explain:hover {
  background-color: lightgrey;
}
.functioning__explain .number {
  display: inline-block;
  position: relative;
  right: 0.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.5rem;
  height: 1.5rem;
  background-color: #9356DC;
  border-radius: 50%;
  text-align: center;
  font-weight: 700;
}
.functioning__explain .fa-solid {
  position: relative;
  right: 0.5rem;
  opacity: 0.5;
}
.functioning__explain:hover .fa-solid {
  color: #9356DC;
  opacity: 1;
}

.container-restaurant {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: auto;
  height: auto;
  margin: 1rem 1rem 4rem 1rem;
  gap: 2rem;
}
.container-restaurant__heading {
  width: 100%;
  height: auto;
}

.restaurant {
  position: relative;
  width: auto;
  height: 250px;
  border-radius: 1.25rem 1.25rem 1.25rem 1.25rem;
  margin-bottom: 1rem;
  transform: scale(1);
  transition: all 300ms;
  transition: transform 100ms ease-in-out;
}
.restaurant:hover {
  transform: scale(1.02);
  box-shadow: 0.125rem 0.125rem 0.5rem #c7c3c3;
}
.restaurant__link {
  display: inline-block;
  width: 100%;
  height: 250px;
  border-radius: 1.25rem 1.25rem 1.25rem 1.25rem;
}
.restaurant__card {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  border-radius: 1.25rem 1.25rem 1.25rem 1.25rem;
  box-shadow: 0.125rem 0.125rem 0.5rem #c7c3c3;
}
.restaurant__container-img {
  border-radius: 20px 20px 0 0;
  width: 100%;
  height: 200px;
  overflow: hidden;
}
.restaurant__img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 20px 20px 0 0;
}
.restaurant__footer {
  width: 100%;
  height: 50px;
  border-radius: 0 0 20px 20px;
}
.restaurant__icon-heart--before {
  width: auto;
  display: inline-block;
  position: absolute;
  z-index: 1;
  top: 13rem;
  right: 1rem;
  border: none;
}
.restaurant__icon-heart--after {
  width: auto;
  color: transparent;
  display: inline-block;
  position: absolute;
  z-index: auto;
  top: 13rem;
  right: 1rem;
  border: none;
}
.restaurant__icon-heart--before:hover {
  display: none;
}
.restaurant__icon-heart--after:hover {
  color: #FF79DA;
  z-index: 1;
}

footer {
  background-color: rgba(24, 23, 23, 0.863);
  padding: 1rem 0 1rem 0;
}

.nav {
  color: white;
  margin: 1rem 1rem 1rem 1rem;
  line-height: 2rem;
}
.nav__logo {
  margin: 1rem 0 1rem 0;
  font-weight: 300;
}
.nav__link-icon {
  display: inline-block;
  height: 1rem;
  position: relative;
  right: 0.5rem;
  line-height: 1rem;
  padding: 0 1rem 0 1rem;
}
.nav__link-icon .fa-utensils {
  position: relative;
  right: 0.5rem;
}
.nav__link-icon .fa-handshake-angle {
  position: relative;
  right: 0.5rem;
}
.nav__link--color {
  color: white;
}
.nav__link--color:hover {
  color: #FF79DA;
}

/*# sourceMappingURL=main.css.map */
