.button {
    display: inline-block;
    width: auto;
    margin: $margin-elements;

    &__style {
        font-size: 1rem;
        color: $colour-text;
        padding: 1rem 1rem 1rem 1rem;
        background: linear-gradient(to top, $colour-primary, $colour-secondary);
        cursor: pointer;
    }

    &__style--size {
        height: 3rem;
    }

    &__style--border {
        border-radius: 45px 45px;
        border: none;
        @include initial-shadow-element;
    }
}