/*position, dimension, couleurs et effets de transition des boutons "explorer nos restaurants" et "commander"*/
.button-action {
    display: inline-block;
    position: relative;
    width: 60%;
    height: 3.5rem;
    text-align: center;
    font-size: 1rem;
    color: $colour-text;
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    margin: 1rem 0 4rem 0;
    cursor: pointer;
    border-radius: 45px 45px;
    -webkit-border-radius: 45px 45px;
    -moz-border-radius: 45px 45px;
    -ms-border-radius: 45px 45px;
    -o-border-radius: 45px 45px;
    border: none;
    background: linear-gradient(to bottom, $colour-secondary, $colour-primary 95%);
    @include initial-shadow-element;
    transition: background-color;
    -webkit-transition: background-color;
    -moz-transition: background-color;
    -ms-transition: background-color;
    -o-transition: background-color;
    z-index: 1;

    // changement de largeur des boutons en version tablette
    @include tablette-only {
        width: 15rem;
    }

    // changement de largeur des boutons en version desktop
    @include desktop-only {
        width: 18rem;
    }

    // au survol : changement de transparence des boutons identiques en arrière plan 
    &:hover {
        &::after {
            opacity: 1;
        }
    }

    // boutons devenant plus clairs avec une ombre plus prononcée 
    &::after {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        box-shadow: 1rem 1.2rem 2rem $colour-shadow;
        background: linear-gradient(to bottom right, lighten($colour-secondary, 4) 1%, lighten($colour-primary, 4));
        border-radius: 45px 45px;
        -webkit-border-radius: 45px 45px;
        -moz-border-radius: 45px 45px;
        -ms-border-radius: 45px 45px;
        -o-border-radius: 45px 45px;
        opacity: 0;
        z-index: -1;
        transition: opacity 400ms ease-in;
        -webkit-transition: opacity 400ms ease-in;
        -moz-transition: opacity 400ms ease-in;
        -ms-transition: opacity 400ms ease-in;
        -o-transition: opacity 400ms ease-in;
    }
}