body {
    font-family: 'Roboto', sans-serif;
    line-height: 130%;
}

h1 {
    font-size: 1.5rem;
}

h2 {
    font-size: 1.5rem;
    font-weight: 700;


}

h3 {
    font-size: 1.1rem;
    font-weight: 700;
    
    @include small-mobile-only {
        font-size: 0.9rem;}
}

p {
    font-size: 1rem;
    @include small-mobile-only {
        font-size: 0.8rem;}
}

.menu__price{
    font-size: 1rem;
    font-weight: 700;
    @include small-mobile-only {
        font-size: 0.8rem;}
}

.logo {
    font-family: 'Shrikhand', 'Robot', sans-serif;
    font-size: 2rem;

    @include small-mobile-only {
        font-size: 1.3rem;
    }
}

.main-container__heading h1 {
    font-family: 'Shrikhand', 'Robot', sans-serif;
    font-size: 1.8rem;

    @include small-mobile-only {
        font-size: 1.3rem;
    }
}

.menu__heading {
    font-size: 1.2rem;
    font-weight: 300;
}

footer{

    @include small-mobile-only {
        font-size: 0.8rem;}
}