.presentation {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    text-align: center;
    align-items: center;
    margin-bottom: 5rem;
    background-color: $background-container;

    @include tablette-only {
        margin-bottom: 1rem;
    }

    &__location {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        margin: 0 0 1rem 0;
        padding: 1rem;
        font-weight: 700;
        box-shadow: inset 0 0.2rem 0.2rem rgba(7, 15, 56, 0.07);
        background-color: darken($background-container, 2%);
    }

    &__heading {
        font-weight: 900;
        margin: 1rem 2.5rem 0.5rem 2.5rem;
    }

    &__discover {
        margin: 0.5rem 1.5rem 1rem 1.5rem;
        font-size: 1.2em;
        font-weight: 300;
    }
}

.functioning {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    margin: 0 1rem 5rem 1rem;

    @include tablette-only {
        width: 35%;
        flex-wrap: wrap;
        flex-direction: row;
        margin: 0;
        padding: 1rem 1rem 5rem 1rem;
        background-color: $colour-secondary;
    }

    @include desktop-only {
        width: 100%;
        flex-direction: row;
        align-items: center;
    }

    &__heading {
        padding: 0 1rem 0 1rem;

        @include tablette-only {
            width: 100%;
            margin: 2rem;
            padding: 0;
        }

    }

    &__container {
        width: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 1rem 0 1rem 1rem;

        @include tablette-only {
            width: 100%;
            gap: 5rem;
        }

        @include desktop-only {
            flex-direction: row;
            align-items: center;
        }
    }

    &__explain {
        width: 100%;
        height: 4rem;
        border-radius: $border-selector;
        position: relative;
        display: flex;
        align-items: center;
        gap: 1rem;
        margin: 1rem 0 1rem 0;
        padding: 1rem;
        @include initial-shadow-element;
        font-weight: 700;
        cursor: pointer;

        @include tablette-only {
            background-color: azure;
        }
    }

    &__explain:hover {
        background-color: hsl(267, 66%, 94%);
    }

    &__number {
        display: inline-block;
        position: relative;
        right: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 1.5rem;
        height: 1.5rem;
        padding: 1rem;
        background-color: $colour-primary;
        border-radius: 50%;
        text-align: center;
        font-weight: 700;
        color: $colour-text;

        @include tablette-only {
            width: 1rem;
            height: 1rem;
        }
    }

    &__explain .fa-solid {
        position: relative;
        right: 1.5rem;
        opacity: (0.5);
    }

    &__explain:hover .fa-solid {
        color: $colour-primary;
        opacity: 1;
    }
}

.container-restaurant {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: auto;
    height: auto;
    gap: 1rem;
    background-color: $background-container;
    padding-bottom: 4rem;

    @include tablette-only {
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: flex-start;
        width: 65%;
    }

    @include desktop-only {
        width: 100%;
        flex-direction: row;
    }

    &__cards {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: auto;
        height: auto;

        @include tablette-only {
            flex-direction: row;
            flex-wrap: wrap;
            gap: 10px;
            padding: 3.875rem 0 3.875rem 0;
        }

    }

    &__heading {
        width: auto;
        height: auto;
        padding: 3rem 1rem 0 1rem;
        margin: $margin-elements;

        @include tablette-only {
            margin: 0;
        }

        @include desktop-only {
            padding: 3rem 1rem 3rem 1rem;
            margin-left: 2rem;
        }
    }
}

.restaurant {
    position: relative;
    width: auto;
    height: 250px;
    border-radius: $border-card;
    margin: 0 1rem 1rem 1rem;
    transform: scale(1);
    transition: all 300ms;
    transition: transform 100ms ease-in-out;
    -webkit-transition: transform 100ms ease-in-out;
    -moz-transition: transform 100ms ease-in-out;
    -ms-transition: transform 100ms ease-in-out;
    -o-transition: transform 100ms ease-in-out;
    background-color: white;

    @include tablette-only {
        align-items: flex-end;
        width: 45%;
        margin: 0.2rem;
    }

    @include desktop-only {
        width: 40%;
        height: 350px;
        margin: 1rem;
    }

    &:hover {
        transform: scale(1.02);
        -webkit-transform: scale(1.02);
        -moz-transform: scale(1.02);
        -ms-transform: scale(1.02);
        -o-transform: scale(1.02);
        @include initial-shadow-element;
    }

    &__link {
        display: inline-block;
        width: 100%;
        height: 250px;
        border-radius: $border-card;
    }

    &__card {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        @include initial-shadow-element;
        border-radius: $border-card;
        -webkit-border-radius: $border-card;
        -moz-border-radius: $border-card;
        -ms-border-radius: $border-card;
        -o-border-radius: $border-card;

        @include desktop-only {
            width: auto;
            height: 350px;
            margin: 0;
        }
    }

    &__container-img {
        width: 100%;
        height: 200px;
        overflow: hidden;
        border-radius: 20px 20px 0 0;
        -webkit-border-radius: 20px 20px 0 0;
        -moz-border-radius: 20px 20px 0 0;
        -ms-border-radius: 20px 20px 0 0;
        -o-border-radius: 20px 20px 0 0;

        @include desktop-only {
            height: 300px;
        }
    }

    &__img {
        object-fit: cover;
        width: 100%;
        height: 100%;
        border-radius: 20px 20px 0 0;
        -webkit-border-radius: 20px 20px 0 0;
        -moz-border-radius: 20px 20px 0 0;
        -ms-border-radius: 20px 20px 0 0;
        -o-border-radius: 20px 20px 0 0;
    }

    &__footer {
        width: auto;
        height: auto;
        padding: 0.5rem 0 0.5rem 0.8rem;
        border-radius: 0 0 20px 20px;
        -webkit-border-radius: 0 0 20px 20px;
        -moz-border-radius: 0 0 20px 20px;
        -ms-border-radius: 0 0 20px 20px;
        -o-border-radius: 0 0 20px 20px;
    }
}


.like--card-position {
    position: absolute;
    right: 2rem;
    bottom:1rem;
}


