@mixin initial-shadow-element ($size: $shadow-size, $blur-effect: $shadow-blur-effect, $colour: $colour-shadow ) {
    box-shadow: $size $blur-effect $colour;
}


$breakpoints-small-mobile: (
    mobile: 350px
);

@mixin small-mobile-only {
    @media  all and (max-width: map-get($breakpoints-small-mobile, small-mobile)) {
        @content;
    }
}


$breakpoints-tablette: (
    tablette: 767px
);

@mixin tablette-only {
    @media  all and (min-width: map-get($breakpoints-tablette, tablette)) {
        @content;
    }
}

$breakpoints-desktop: (
    desktop: 992px
);

@mixin desktop-only {
    @media  all and (min-width: map-get($breakpoints-desktop, desktop)) {
        @content;
    }
}