//mixin pour les ombres sur les conteneurs
@mixin initial-shadow-element ($size: $shadow-size, $blur-effect: $shadow-blur-effect, $colour: $colour-shadow ) {
    box-shadow: $size $blur-effect $colour;
}

//mixin pour les règles communes aux images mises en background dans les pages menus
@mixin display-bg-img {
    background-size: cover;
    background-repeat: no-repeat;
}

//mixin pour pour tronquer les éléments avec ellipsis quand ils dépassent
@mixin dimension-text-ellipsis {
    width: 100%;
    height: auto;
    padding-left: 0.5rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

//mediaqueries de la version petit mobile
$breakpoints-small-mobile: (
    mobile: 360px
);

@mixin small-mobile-only {
    @media all and (max-width: map-get($breakpoints-small-mobile, mobile)) {
        @content;
    }
}

//mediaqueries de la version tablette
$breakpoints-tablette: (
    tablette: 767px
);

@mixin tablette-only {
    @media all and (min-width: map-get($breakpoints-tablette, tablette)) {
        @content;
    }
}

//mediaqueries de la version desktop
$breakpoints-desktop: (
    desktop: 992px
);

@mixin desktop-only {
    @media all and (min-width: map-get($breakpoints-desktop, desktop)) {
        @content;
    }
}